[submodule "newproject/components/arduino-esp32"]
	path = newproject/components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = v3.2
[submodule "newproject/components/pubsubclient"]
	path = newproject/components/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
